#content-about{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 33%;
    justify-content: center;
    grid-gap: 1em;
    margin-top: 4em;
}

.title{
    color: gray;
    align-self: center;
    justify-self: center;
}