@import url(https://fonts.googleapis.com/css2?family=Domine&family=Homemade+Apple&family=Mate+SC&family=Raleway&display=swap);

:root {
    --gold: #A48111;
    --rose-gold: #B76E79;
}

#content-menu{
    text-align: center;
    height: 110vw;

    display: grid;
    grid-template-rows: 10% 15% 2% 16% 2% 23% 2% 20%;
    grid-template-columns: 50%;
    justify-content: center;
    justify-items: center;
}

#specials{
    font-family: 'Raleway';
}

.menu-title{
    font-family: 'Homemade Apple';
    color: var(--rose-gold);
}

.menu-category{
    color: var(--rose-gold);
    font-family: 'Homemade Apple';
    padding: 5px 0px 10px 0px;
    margin: 0;
}

.item-title{
    color: var(--gold);
    font-family: 'Domine';
    padding-bottom: 5px;
    margin: 0;
}

.menu-item{
    font-family: 'Raleway';
    padding-bottom: 15px;
}

.break{
    width: 20%;
    object-fit: cover;
    max-height: 100%;
}

.divider{
    height: 1%;
    width: 80%;
    border: none;
    background: var(--gold);
}