@import url(https://fonts.googleapis.com/css2?family=Domine&family=Homemade+Apple&family=Mate+SC&family=Raleway&display=swap);

:root {
    --gold: #A48111;
    --light-gold: #b38d12;
    --rose-gold: #B76E79;
}

#content-menu{
    text-align: center;
    height: 100vh;

    display: grid;
    grid-template-rows: 10vh 15vh 2vh 16vh 2vh 23vh 2vh 20vh;
    grid-template-rows: 10vh 2vh 15vh  16vh 23vh 20vh;
    grid-template-columns: 50%;
    justify-content: center;
    justify-items: center;
}

@media (max-width: 1000px){
    #content-menu{
        grid-template-columns: 75%;
    }
}

#specials{
    font-family: 'Raleway';
    margin: 0;
}

.menu-title{
    font-family: 'Homemade Apple';
    color: var(--gold);
    margin: 0;
    padding-top: 30px;
}

.menu-category{
    color: var(--gold);
    font-family: 'Homemade Apple';

    margin: 0;
    padding-top: 10px;
}

.item-title{
    color: var(--light-gold);
    font-family: 'Domine';
    padding-bottom: 5px;
    margin: 0;
}

.menu-item{
    font-family: 'Raleway';
    padding-bottom: 15px;
}

.break{
    width: 20%;
    object-fit: cover;
    max-height: 100%;
}

.divider{
    height: 10%;
    width: 50%;
    border: none;
    background: var(--gold);
    border-radius: 100%;
}