@import url(https://fonts.googleapis.com/css2?family=Mate+SC&display=swap);

html{
    margin: 0px;
    height: 100%;
    width: 100%;
}

body{
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: 'Mate SC', 'Courier New', Helvetica, sans-serif;
}

button{
  font-family: 'Mate SC';  
}

#header{
    display: grid;
    grid-template-rows: 75% 30%;
    grid-template-columns: 33%;
    justify-content: center;
    grid-gap: 1em;
    padding-bottom: 0.8em;
}

#header-logo{
    grid-column: span 4;
    width: 300px;
    height: auto;
    justify-self: center;
}

#nav{
    display: grid;
    grid-template-columns: repeat(4, 8vw);
    grid-template-rows: 1.25rem;
    padding-left: 3em;
    justify-self: center;
}

.nav-button{
    border: none;
    background-color: white;
    font-size: 1rem;
}

.nav-button:hover{
    border-bottom: solid 1px black;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    background-color: white;
    padding: 10px 0 8px 0;
    text-align: center;
}
